---
import BioSection from "../components/BioSection.astro";
import Date from "../components/Date";
import ExperienceSection from "../components/ExperienceSection.astro";
import WrittingSection from "../components/WrittingSection.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Jordi Capellades">
  <main class="max-w-2xl mx-auto flex flex-col justify-center">
    <BioSection />
    <WrittingSection />
    <ExperienceSection />
  </main>
</Layout>
