---
import { GithubIcon, TwitterIcon } from "./Icons";
---

<section
  class="flex flex-col items-center sm:flex-row sm:items-start gap-6 text-neutral-50 p-5"
>
  <img
    class="w-32 h-32 rounded-full ml-4"
    src="/images/portrait.jpeg"
    alt="Jordi Capellades"
  />
  <div>
    <h1 class="text-xl font-medium">Jordi Capellades</h1>
    <p class="text-base text-neutral-50/50">Junior Frontend</p>
    <p class="mt-4">
      Constantly learning and creating · Passion for coding and exploring design
    </p>
  </div>
  <div class="flex gap-2 flex-row sm:flex-col">
    <a
      href="https://twitter.com/jordicapellad3s"
      title="Jordi's Twitter"
      target="_blank"
      rel="noreferrer"
      class="border border-neutral-50/10 p-2 rounded-lg transition-all duration-300 hover:border-neutral-50/40"
    >
      <TwitterIcon />
    </a>
    <a
      href="https://github.com/jordicapellad3s"
      title="Jordi's Twitter"
      target="_blank"
      rel="noreferrer"
      class="border border-neutral-50/10 p-2 rounded-lg transition-all duration-300 hover:border-neutral-50/40"
    >
      <GithubIcon />
    </a>
  </div>
</section>
