---
import BlogItem from "./BlogItem.astro";
const allPosts = await Astro.glob("../pages/posts/*.md");
// filter only the latest 3 posts
const latestPosts = allPosts.slice(0, 3);
---

<section
  class="text-neutral-50 mt-8 m-4 flex flex-col gap-2 border hover:shadow-2xl hover:shadow-neutral-100/5 transition-shadow ease-in-out duration-700 border-neutral-50/10 p-4 rounded-lg"
>
  <h1 class="font-medium">Writting</h1>
  <p class="opacity-50 text-sm mb-4">
    Writting about my journey as a developer and my experiences with different
    technologies and desing.
  </p>
  <ul class="flex flex-col gap-2">
    {latestPosts.map((post) => <BlogItem post={post} />)}
  </ul>
  <a href="/blog">
    <div
      class="border border-neutral-50/10 hover:border-neutral-50/30 rounded-lg text-center bg-[#1c1c1c] transition-all duration-300"
    >
      <button class="py-2 border-transparent font-medium"> All Articles</button>
    </div>
  </a>
</section>
